.user{
    display: flex;
    gap:20px;
}
.author{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.userimg{
    border-radius: 50%;
}
.publish{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.image{
    position: relative;
}